---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main id="main-content">
    <section class="pb-6 pt-8">
      <div class="text-center">
        <h1 class="my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl">
          <span class="text-skin-accent">Max</span> Thomson
        </h1>
      </div>
    </section>
  </main>
</Layout>
